<?xml version="1.0" encoding="UTF-8" ?>
<configuration scanPeriod="30 seconds" scan="true">

    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } [%t] --- %-40.40logger{39} : %m%n%wex"/>
    <jmxConfigurator/>

    <if condition='isDefined("CONSOLE_LOGGER")'>
        <then>
            <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>${FILE_LOG_PATTERN}</pattern>
                </encoder>
            </appender>

            <root level="info">
                <appender-ref ref="stdout"/>
            </root>

            <logger name="com.geodan" level="debug"/>
        </then>
        <else>
            <appender name="file"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${LOG_FILE}</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <FileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
                    <!-- keep 14 days' worth of history -->
                    <MaxHistory>14</MaxHistory>
                    <!-- limit the size of the logfile to 10MB -->
                    <TimeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <MaxFileSize>10MB</MaxFileSize>
                    </TimeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>

                <encoder>
                    <pattern>${FILE_LOG_PATTERN}</pattern>
                </encoder>
            </appender>

            <root level="warn">
                <appender-ref ref="file"/>
            </root>

            <logger name="com.geodan" level="info"/>
        </else>
    </if>

    <!-- <logger name="com.geodan" level="debug" /> -->
    <!-- <logger name="org.hibernate.SQL" level="debug" /> -->
    <!-- <logger name="org.hibernate.hql" level="debug" /> -->
    <!-- <logger name="org.hibernate.type" level="trace" /> -->
    <!-- <logger name="org.hibernate.cache" level="trace" /> -->
    <!-- <logger name="org.springframework.web" level="debug" /> -->
    <!-- <logger name="org.springframework.security" level="debug" /> -->
    <!-- <logger name="org.springframework.cache" level="debug" /> -->
    <!-- <logger name="net.sf.ehcache" level="debug" /> -->
    <!-- <logger name="org.springframework.cache" level="debug" /> -->
    <!-- <logger name="org.hibernate.validator" level="debug" /> -->
    <!-- <logger name="org.springframework.validation" level="debug" /> -->

</configuration>